body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./images/placeholder-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
}

#login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-box {
    margin-top: 25px;
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#spareparks-logo {
    background-image: url('./images/spareparks-logo-placeholder.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 75px;
    margin-bottom: 10px;
    margin-top: -25px;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#brought-by {
    color: #ccc;
    font-family: 'Figtree';
    font-size: 10px;
    text-align: left;
    margin-top: 20px;
    margin-left: -20px;
}

#pointparking-logo {
    background-image: url('./images/pointparking-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    transform: scale(1.5);
    display: block;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

#email, #code-input-group {
    opacity: 0.9;
    font-size: 12px;
    font-family: 'Figtree';
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.95);
}

#email, #code-input-group:focus {
    border-color: #00487f;
    box-shadow: 0 0 8px rgba(0, 72, 127, 0.6);
    background-color: rgba(255, 255, 255, 1);
}
#code-input-group {
    width: 42%;
}

#code {
    opacity: 0.9;
    font-size: 12px;
    font-family: 'Figtree';
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;

}

button {
    width: 90%;
    margin-top: 5px;
    background-color: #00487f;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Figtree';
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

button:hover {
    background-color: #005fa3;
    box-shadow: 0 0 8px rgba(0, 94, 163, 0.7);
}

button:active {
    transform: scale(0.97);
    background-color: #003660;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

#verify-btn {
    width: 60%;
    transition: width 0.3s ease;
}

#send-code-btn {
    transition: width 0.3s ease;
  }
  
  #send-code-btn.resend {
    width: 60%;
    transform: scale(0.8);  
}

#send-code-btn, #verify-btn {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }
  

#email-status-message {
    opacity: 0.9;
    font-size: 12px;
    font-family: 'Figtree';
    color: white;
    width: 70%;
}

#footer {
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Figtree';
    background-color: rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 12px;
    width: auto;
    max-width: 600px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto; 
}

#footer a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover {
    color: #00487f;
}

#contact-us {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 0s linear 1s; 
}

.popup.show {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 1s ease, visibility 0s linear 0s; 
}

.popup-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; 
}

.close-btn {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #00487f;
    text-decoration: none;
}
