*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;

}

.page-container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
    "nav-container location-header"
    "nav-container data-content";
    background-color: #212121;
}
.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #00487f;
    height: 100vh;
    position: sticky;
    top: 0;
}


.navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 25px;
    padding-left: 25px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    border-right: 2px solid #303030;

}

.navbar a {
    align-self: flex-start;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-family: 'Figtree';
    font-weight: bolder;
    position: relative;
    transition: color 0.2s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.03); 
    cursor: pointer;

}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-ad {
    width: 130px;
    height: 50px;
    margin-top: -15px;
    padding-top: 5px;
}

.nav-ad img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 8px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}


.location-header{
    background-color: #171717;
    height: 270px;
    display: flex;
    padding-left: 10px;
    grid-column: 2;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #303030;
    
}


.location-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 15px;
}

#location-name {
    font-family: 'Figtree';
    font-size: 16px;
    padding: 0;
    margin-bottom: -25px;
    position: relative;
    color: white;
    transition: color 0.2s ease;
    align-self: flex-start;
}

#location-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

#location-name:hover {
    transform: scale(1.02); 
    cursor: pointer;
}

#location-name:hover::after {
    width: 100%;
}

#location-box {
    display: flex;
    gap: 20px;
}
#location-details {
    min-width: 240px;
    max-width: 240px;
    min-height: 100px;
    max-height: 100px;
    text-align: left;
    font-size: 14px;
    font-family: 'Figtree';
    padding-left: 2.5px;
    color: white;
}

#rates-panel {
    text-decoration: underline;
    cursor: pointer;
}

#rates-panel:hover {
    transform: scale(1.03); 
}

.hidden {
    display: none;
}

#rates-info-panel {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    max-height: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 9999;
    
    opacity: 0;
    transition: opacity 0.3s ease;
}

#rates-info-panel.fade-in {
    opacity: 1;
}

#rates-info-panel.fade-out {
    opacity: 0;
}

.rate-tables {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.rate-column {
    flex: 1;
}

#rates-info-panel table {
    width: 100%;
    margin-top: 10px; 
    border-collapse: collapse;
}

#rates-info-panel td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#weekend-rates {
    width: 50%;
}

#close-panel {
    background-color: #f1f1f1;
    border: none;
    color: #212320;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 30px;
    z-index: 10;
}

#close-panel:hover {
    transform: scale(1.05); 
}

.panel-header{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 5;
}

#close-margin-fix {
    margin-top: -5%;
}

#weather-traffic-wrapper {
    display: flex; 
    justify-content: flex-end;
    width: 100%;
}

#local-data {
    color: white;
    font-family: 'Figtree';
}

#weather {
    margin-top: 25px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.weather-icon img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  
  .weather-description {
    margin-top: -20px;
    font-family: 'Figtree';
    font-size: 18px;
    color: white;
  }
  
  .temperature {
    margin-top: -15px;
    font-family: 'Figtree';
    font-size: 40px;
    color: white;
  }


#rt-traffic {
    margin: 40px;
    width: 550px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5); 
}

.key-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 30px;
    
}

.key-data-tile {
    width: 160px;
    height: 100px;
    font-size: 12px;
    padding-left: 5px;
    font-family: 'Figtree';
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    }

.key-data-headline {
    font-weight: bolder;
    font-size: 18px;
}

.key-data-change {
    margin-top: -2.5%;
    font-size: 18px;
    color: #73bbff;
    font-weight: bolder;
}

.data-tile {
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-column: 2; 
    margin: 25px;
    border-radius: 12px;
}

.data-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 90%; 
    height: 100%; 
    grid-column: 2;   
    
    margin-top: 80px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 90%; 
    border: 2px solid #303030;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.3);

}


.grid-item {
    background-color: #181A17;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



table {
    border-spacing: 20px;
    margin-top: -20px;
}

#footer {
    padding: 10px 20px;
    text-align: center;
    font-family: 'Figtree';
    color: #ccc;
    font-size: 16px;
    width: auto;
    margin-left: auto;
    margin-right: auto; 
    background-color: #212121;
    grid-column: 2; 

}
