*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;

}

.page-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    background-color: #212121;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #00487f;
    height: 100vh;
    position: sticky;
    top: 0;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

}

.navbar a {
    align-self: flex-start;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-family: 'Figtree';
    font-weight: bolder;
    position: relative;
    transition: color 0.2s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.03); 
    cursor: pointer;

}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-ad {
    width: 130px;
    height: 50px;
    margin-top: -15px;
    padding-top: 5px;
}

.nav-ad img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 8px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}


#title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 2px;
    margin-bottom: -15px;
}

#down-arrow {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}


#location-name {
    font-family: 'Figtree';
    font-size: 16px;
    padding: 0;
    margin-bottom: -20px;
    color: white;
    transition: color 0.2s ease;
    display: flex;
}

#location-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

#location-name:hover {
    transform: scale(1.02); 
    cursor: pointer;
}

#location-name:hover::after {
    width: 100%;
}

#location-details {
    text-align: left;
    font-size: 14px;
    font-family: 'Figtree';
    color: white;
    line-height: 1.5;
}




#weather-traffic-wrapper {
    display: flex; 
    justify-content: flex-end;
    width: 100%;
}

#weather {
    margin-top: -42px;
    margin-left: 15px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-icon img {
    width: 75px;
    height: 75px;
  }
  
  .weather-description {
    margin-top: -10px;
    font-family: 'Figtree';
    font-size: 14px;
    color: white;
  }
  
  .temperature {
    margin-top: -10px;
    font-family: 'Figtree';
    font-size: 28px;
    color: white;
  }

  #location-weather-wrapper {
    display: flex;
  }

  #rt-traffic {
    margin-top: -15px;
    width: 365px;
    height: 275px;
    border-radius: 8px;
}


.powerbi-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    grid-column: 2; 
    margin: 25px;
    
}

#powerbi-frame {
    width: 2300px;
    height: 1675px;
    clip-path: inset(0px 0px 265px 0px round 0%);

}

@media (max-width: 2500px) {
    #powerbi-frame {
        width: 2200px;
        height: 1615px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}

@media (max-width: 2400px) {
    #powerbi-frame {
        width: 2100px;
        height: 1555px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}

@media (max-width: 2300px) {
    #powerbi-frame {
        width: 2000px;
        height: 1495px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}

@media (max-width: 2200px) {
    #powerbi-frame {
        width: 1900px;
        height: 1430px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}

@media (max-width: 2100px) {
    #powerbi-frame {
        width: 1800px;
        height: 1370px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}

@media (max-width: 2000px) {
    #powerbi-frame {
        width: 1700px;
        height: 1310px;
        clip-path: inset(0px 0px 265px 0px round 0%);
    }
}


@media (max-width: 1900px) {
    #powerbi-frame {
        width: 1600px;
        height: 1185px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1800px) {
    #powerbi-frame {
        width: 1500px;
        height: 1120px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1700px) {
    #powerbi-frame {
        width: 1400px;
        height: 1060px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1600px) {
    #powerbi-frame {
        width: 1300px;
        height: 1000px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1500px) {
    #powerbi-frame {
        width: 1200px;
        height: 938px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1400px) {
    #powerbi-frame {
        width: 1100px;
        height: 877px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1300px) {
    #powerbi-frame {
        width: 1000px;
        height: 815px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1200px) {
    #powerbi-frame {
        width: 900px;
        height: 753px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1100px) {
    #powerbi-frame {
        width: 800px;
        height: 690px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

@media (max-width: 1000px) {
    #powerbi-frame {
        width: 700px;
        height: 630px;
        clip-path: inset(0px 0px 200px round 0px);
    }
}

table {
    border-spacing: 20px;
    margin-top: -20px;
}

#footer {
    padding: 10px 20px;
    text-align: center;
    font-family: 'Figtree';
    color: #ccc;
    font-size: 16px;
    width: auto;
    margin-left: auto;
    margin-right: auto; 
    background-color: #212121;
    grid-column: 2; 

}